#output{
    padding: 6px 20px;
    background-color: azure;
    font-weight: bold;
    width: 82%;
    border: none;
    border-radius: 0px;
    outline-color: white;
    color: black;
}

#length-input{
  border: none;
  border-radius: 0px;
}

#id_generator_button{
    border: none;
    border-radius: 0px;
    margin: 10px;
}

#copy_button{
    border: none;
    border-radius: 0px; 
}

#copy-msg{
    font-size: 26px;
    text-align: center;
    opacity: 0;
    color: blue;
    margin-top: 20px;
}